{% extends "base.html" %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-5 text-center font-weight-bold text-uppercase">How to Use</h1>
        <p class="text-justify">Here you can provide instructions on how to use your website, service, or product.</p>

        <div class="mb-5 text-center">
          <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'home' %}'">Back to home</button>
        </div>

        {% if not user.is_authenticated %}
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-2" href="{% url 'register' %}">Sign up</a>
            <a class="btn btn-secondary mx-2" href="{% url 'login' %}">Log in</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
